---
layout: default
title: research
rank: 2
---

{% if site.research.presentation.overview %}
<h2><span class="text-primary">Overview</span></h2>
{% include research_overview.html %}
{% endif %}

{% if site.research.presentation.software %}
<h2><span class="text-primary">Softwares</span></h2>
{% include software.html %}
{% endif %}

<div class="row">
    <div class="col-md-12">
        {% if site.research.presentation.publications %}
        <h2 id="Publications"><span class="text-primary">Publications</span></h2>
        <div class="btn-group" role="group" aria-label="publication databases">
          <ul>
            {% for db in site.data.research.databases %}
              <li>
                <a target="_blank" href="{{ db.url }}">{{ db.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% assign interval=site.research.restriction.publications %}
        {% include publications.html nbyears=interval %}
        {% endif %}
    </div>
</div>
