---
layout: default
title: misc
rank: 3
---

<div class="starter-template">
    <h1>Miscellaneous</h1>
</div>

<div class="row">
    <div class="col-md-6">
        {% if site.data.misc.teaching %}
        <h2><span class="text-primary">Scientific dissemination</span></h2>
        {% include print_misc.html misc=site.data.misc.dissemination %}
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if site.data.misc.teaching %}
        <h2><span class="text-primary">Teaching and supervising</span></h2>
        {% include print_misc.html misc=site.data.misc.teaching %}
        {% endif %}
    </div>
</div>
